<p id="notice"><%= notice %></p>

<p>
  <strong>Hto:</strong>
  <%= @am.hto %>
</p>

<p>
  <strong>Hb:</strong>
  <%= @am.hb %>
</p>

<p>
  <strong>Peso pre:</strong>
  <%= @am.peso_pre %>
</p>

<p>
  <strong>Peso post:</strong>
  <%= @am.peso_post %>
</p>

<p>
  <strong>Urea pre:</strong>
  <%= @am.urea_pre %>
</p>

<p>
  <strong>Urea post:</strong>
  <%= @am.urea_post %>
</p>

<p>
  <strong>Urr:</strong>
  <%= @am.urr %>
</p>

<p>
  <strong>Ktv:</strong>
  <%= @am.ktv %>
</p>

<p>
  <strong>Tgp:</strong>
  <%= @am.tgp %>
</p>

<p>
  <strong>Tgo:</strong>
  <%= @am.tgo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @am.fecha %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @am.paciente %>
</p>

<%= link_to 'Edit', edit_paciente_am_path %> |
<%= link_to 'Back', paciente_am_path %>
