<div class="container">
  <div class="row">
    <h2>Iniciar sesión</h2>
    <div class="col-md-6">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-md-12">
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="col-md-12">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="col-md-12">
        <%= f.check_box :remember_me, label: "Recordarme" %>
      </div>
      <% end -%>

      <div class="col-md-12">
        <%= f.submit "Iniciar sesión", class: "btn btn-success" %>
      </div>
      <% end %>
      <div class="col-md-12">
        
        <%= render "devise/shared/links" %>

      </div>
      
    </div>
  </div>
</div>